<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Smarter</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> add-->
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--add-->

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Shopping Smarter</a>
      </h1>
      
      <nav>

         <form class="card-content white-text" id= "submit-form">
          <input name="product-input" placeholder= "Look for something" id="type-event" type="text" autofocus="true" class="product-input"/>
         <button type="submit" class="btn" id="submit"><i class="fa fa-fw fa-search "></i>Search</button>  <!--testing -->

        <a href="btn-login">
         <button type="login" class="btn" id="login"><i class="fa fa-fw fa-user"></i>Login</button> </a> <!--testing -->

       
        </form>

        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
                <form action="/login">
                <button type="submit" id="sell-it" class="btn-style">Sell it with us!</button>
               </form>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
      This is a test line
    </main>
    <footer>
      Shopping has never been this good!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
 

  {{/if}}
</body>
 <script src="/javascript/search.js"></script> 
 <script src="/javascript/filter-selection.js"></script> 
 <!--add-->
</html>