<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" placeholder="What are you selling?"/>
    </div>

        <div>
      <label for="short-desc">Describe your item</label>
      <input type="text" id="short-desc" name="short-desc" placeholder="0/1000"/>
    </div>

    <div>
      <label for="post-detalls">Detalls</label>
      <input type="text" id="post-detalls" name="post-detalls" placeholder=""/>
    </div>

    <div>
      <label for="post-city">Location</label>
      <input type="text" id="post-city" name="post-city" placeholder=""/>
    </div>

    <div>
      <label for="post-price">Pricing</label>
      <input type="text" id="post-price" name="post-price" placeholder=""/>
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>