<fieldset id="filterSection">
    <legend>Filter Your Results:</legend>

    <div>
      <input type="checkbox" id="Electronics" name="Electronics"
             checked>
      <label for="Electronics">Electronics</label>
    </div>

    <div>
      <input type="checkbox" id="Apparel" name="Apparel">
      <label for="Apparel">Apparel</label>
    </div>

    <div>
      <input type="checkbox" id="Furniture" name="Furniture">
      <label for="Apparel">Furniture</label>
    </div>
</fieldset>

<script src="/javascript/filter-selection.js"></script>