        <div class="img-me col-12"> 
     <img src="/images/crear-ecommerce-gratis-1024x539.png" class="img-fluid" alt="here" />
        </div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  
  {{#each posts as |post|}}
<div class="col-4">
  <div class="post-list">
  
    <div class="card">

      
    <!--  <img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">

    {{> post-info post }}
</div>
</div>
</div>
</div>
 
  
  {{/each}}
 
</div>


